.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/config/config.php
application/config/database.php

TODO
dist/
node_modules/
vendor/
.configs/
.json/
.nuxt/
.schema/
.scratch/
.sql/
.tmp/
.vscode/
.env
.eslintcache
.php_cs.cache
yarn-error.log
